<%- include('header') %>
<div class="result">
  <% if(error) { %>
    <%= error %>
  <% }else { %> 
    U$
    <%= quantidade %>
    na cotação
    <%= cotacao %> é igual a: R$
    <%= conversao %>
  <% } %>
</div> 
<%- include('footer') %>